border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  font-family 'Droid Sans', arial, serif

h1
  color #000
  text-align center
  font-size 25px

h3
  font-weight bold

p
  margin-bottom 20px
  text-align justify
  
input.name
  color #333
  font-size 12pt
  width 200px

table
  border-collapse collapse
  text-align left
  margin 0px 20px

thead
  vertical-align middle

th
  font-size 16px
  padding 8px 8px
  border-bottom 2px solid #333

tr
  color #777

tr:hover
  color #222

td
  padding 8px 4px 0

li
  list-style-type none
  display inline

button
  display inline-block
  line-height 1
  padding 7px 10px
  text-decoration none
  font-weight bold
  color #fff
  background-color #3b5998
  border-radius 5px
  cursor pointer

#header
  background url(../logo.png) no-repeat
  height 78px
  width 320px
  margin 0 auto
  
  h1
    padding-left 90px
    padding-top 19px

#wrapper


#canvas_wrapper
  margin 0 auto

#notification-view
  position fixed
  left 10px
  width 150px

.notification_element
  color #111
  padding 5px
  border-radius 10px
  border 1px solid #333
  font-size 9pt

#nav
  width 100%
  background #666
  margin 0 auto
  text-align center
  margin-bottom 10px

#nav ul
  width 100%

#nav ul li a
  padding .4em
  background-color #333
  color #efefef
  text-decoration none
  
#nav ul li a:hover
  background-color #fff
  color #333

#controls li
  display block
  float left
  width 64px
  height 64px

#controls li:hover
  cursor pointer

#loading
  display none
  margin 0 auto
  text-align center

#content
  width 320px
  margin 0 auto

span.button
  background-color #aaa
  padding 3px
  border-radius 5px

span.button:hover
  cursor pointer
  background-color #999

#ads
  position fixed
  right 0
  top 0
  